

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    top: 50px;
    height: 70px;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: rgba(26, 24, 22, 0.85);
}

#header.header-transparent {
    background: transparent;
}

#header.header-scrolled {
    top: 0;
    background: rgba(26, 24, 22, 0.85);
}

#header .logo {
    border-radius: 50%;
}

#header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    border-radius: 50%;
}

@media (max-width: 992px) {
    #header {
        top: 0;
        background: rgba(26, 24, 22, 0.85);
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */


.navbar > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.navbar a {
    display: block;
    position: relative;
    color: white;
    padding: 9px 14px;
   // transition: 0.3s;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.navbar a:hover, .navbar-menu .active > a, .navbar li:hover > a {
    color: #ffb03b;
    text-decoration: none;
}








